:root {
  --light-color-text: white;
  --light-color-text-light: green;
  --light-color-hover: red;
  --light-color-main: purple;
  /* пока что светлая тема - рофланебало */
  --dark-color-text: black;
  --dark-color-text-light: white;
  --dark-color-hover: gray;
  --dark-color-main: #747474;
}

body.theme-light {
  --color-text: var(--light-color-text);
  --color-text-light: var(--light-color-text-light);
  --color-hover: var(--light-color-hover);
  --color-main: var(--light-color-main);
}

body.theme-dark {
  --color-text: var(--dark-color-text);
  --color-text-light: var(--dark-color-text-light);
  --color-hover: var(--dark-color-hover);
  --color-main: var(--dark-color-main);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

body {
  background: rgb(116, 116, 116);
  background: linear-gradient(14deg, rgba(116, 116, 116, 1) 0%, rgba(191, 191, 191, 1) 100%);
}

.header {
  background-color: var(--color-main);
  /* box-shadow: 0 -10px 50px var(--color-text); Было бы круто наебенить тень у header */
  transition: all .3s ease-in-out;
  margin-bottom: 100px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 10px;
}

.header__list {
  display: flex;
  align-items: center;
  outline: 1.5px solid var(--color-text);
  padding: 10px 0;
  border-radius: 10px;
}

.header__item:not(:last-child) {
  border-right: 1.5px solid var(--color-text);
}

.header__link {
  font-weight: 400;
  transition: all .3s ease-in-out;
  padding: 9px 30px;
  border-radius: 10px;
}

.header__link:hover {
  background-color: var(--color-hover);
}

.header__img {
  height: 40px;
}

.header__item::marker {
  color: transparent;
}

.setup {
  position: relative;
  width: 31.5px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 10px;
}

.setup__img {
  position: absolute;
  padding: 11px 19px;
  height: 16px;
  left: -10px;
  top: -10px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.setup__img g {
  fill: var(--color-text);
}

.setup__img:hover {
  background-color: var(--color-hover);
}

.setup-list {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 250px;
  height: 40px;
  background-color: var(--color-main);
  transition: all .3s ease-in-out;
  border-radius: 0 0 10px 10px;
  cursor: auto;
}

.btn-text {
  position: absolute;
  top: 10px;
  left: 20px;
}

.setup-list-hidden {
  top: 30px;
  background-color: transparent;
  visibility: hidden;
}

.setup-list-hidden .theme-btn {
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.setup-list-hidden .switcher {
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.setup-list-hidden .btn-text {
  color: transparent;
  transition: all .3s ease-in-out;
}

.theme-btn {
  position: absolute;
  width: 90px;
  height: 30px;
  right: 10px;
  bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-hover);
}

.switcher {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  background-color: yellow;
  transition: all .3s ease-in-out;
}

.switcher-dark {
  left: 30px;
  border-radius: 10px;
  background-color: black;
}

.switcher-light {
  left: 60px;
  border-radius: 0 10px 10px 0;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --color-main: var(--dark-color-main);
    --color-text: var(--dark-color-text);
    --color-text-light: var(--dark-color-text-light);
    --color-hover: var(--dark-color-hover);
  }
}

@media (prefers-color-scheme: light) {
  body.theme-auto {
    --color-main: var(--ligth-color-main);
    --color-text: var(--ligth-color-text);
    --color-text-light: var(--ligth-color-text-light);
    --color-hover: var(--ligth-color-hover);
  }
}

/* можно прикрутить иконки svgшки для каждого состояния switcherа */

.main {
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.main__logo {
  width: 800px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 50px;
  background-image: url(../img/giga_CVOH.png);
  transition: all .1s ease-in-out;
  margin-bottom: 50px;
}

.main__logo:hover {
  background-image: url(../img/SVOH_monster.png);
}

.main__form {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  justify-content: center;
  margin-bottom: 158px;
}

.form__input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  margin-bottom: 20px;
}

.form__input:hover {
  background-color: lightgray;
}

.form__btn {
  width: 200px;
  height: 50px;
  background-color: var(--color-main);
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form__btn:hover {
  background-color: var(--color-hover);
}

.footer {
  display: flex;
  align-items: center;
  height: 80px;
  color: var(--color-white);
  background-color: var(--color-text);
  padding-left: 50px;
}

.footer__rights {
  color: var(--color-text-light);
}
